= form_for @professional do |f|
  - if @professional.errors.any?
    #error_explanation
      %h2= "#{pluralize(@professional.errors.count, "error")} prohibited this professional from being saved:"
      %ul
        - @professional.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .actions
    = f.submit 'Save'
